<pocketix-vp-statement
    [title]="language.stmt[stmt.name]?.label ?? stmt.name"
    [icon]="(correctPos) ? (language.stmt[stmt.name]?.icon ?? defaultStmtLanguage.icon) : language.err.icon"
    [color]="(correctPos) ? (language.stmt[stmt.name]?.color ?? defaultStmtLanguage.color) : language.err.color"
    [backgroundColor]="(correctPos) ? (updating ? '#00AA00' : (language.stmt[stmt.name]?.backgroundColor ?? defaultStmtLanguage.backgroundColor)) : language.err.backgroundColor"
    [error]="(correctPos) ? undefined : 'Wrong position!'"
    (onUp)="up()"
    (onDown)="down()"
    (onDelete)="delete()">
    <div header>
        (
            <span *ngFor="let param of stmt.params; let i = index">
                {{param}}
                <ng-container *ngIf="i !== stmt.params.length-1">
                    ,
                </ng-container>
            </span>
        )
    </div>
    <div body>
        <ng-template [ngIf]="language.stmt[stmt.name]?.extensions?.params">
            <ng-template [ngIf]="language.stmt[stmt.name]?.extensions.params.type === 'array'" [ngIfElse]="structure">
                <div class="inputgroup" *ngFor="let param of stmt.params; let i = index">
                        <pocketix-vp-expression class="inputexpr"
                            [value]="param"
                            [language]="language"
                            (onValueChanged)="onInputChange($event, i)">
                        </pocketix-vp-expression>
                        <!--<input [id]="i" pInputText [ngModel]="param" (input)="onInputChange($event.target.value, i)"/>-->
                        <button pButton [ngStyle]="{'margin': '1px'}" icon="pi pi-times" (click)="remove(i)" [style]="{
                            'background-color': (language.stmt[stmt.name].backgroundColor ?? defaultStmtLanguage.backgroundColor) + 44,
                            'border-color': (language.stmt[stmt.name].color ?? defaultStmtLanguage.color),
                            'color': (language.stmt[stmt.name].color ?? defaultStmtLanguage.color)
                          }"></button>
                </div>
                <div class="inputgroup">
                    <button pButton icon="pi pi-plus" (click)="add()" [disabled]="typing ? 'disabled' : ''" [style]="{
                        'background-color': (language.stmt[stmt.name].backgroundColor ?? defaultStmtLanguage.backgroundColor),
                        'border-color': (language.stmt[stmt.name].color ?? defaultStmtLanguage.color),
                        'color': (language.stmt[stmt.name].color ?? defaultStmtLanguage.color)
                      }"></button>
                </div>
            </ng-template>
            <ng-template #structure>
                <div class="inputgroup" *ngFor="let param of language.stmt[stmt.name]?.extensions.params.defs">
                    <input pInputText [placeholder]="param.name" />
                </div>
            </ng-template>
        </ng-template>
    </div>
</pocketix-vp-statement>
