<p-toast #toast position="bottom-center"></p-toast>

<div class="heading-content">
	<h1>Pocketixng</h1>
	<app-more
			(onProgramChange)="onProgramChange($event)"
			(onMetaLanguageChange)="onMetaLanguageChange($event)"
			(onCapabilitiesChange)="onCapabilitiesChange($event)"
			(onVariablesChange)="onVariablesChange($event)">
	</app-more>
</div>

<pocketix-vp-program
		[language]="metaLanguage"
		[program]="program">
</pocketix-vp-program>

<ng-template #menuTemplate>
	<button pButton icon="pi pi-bolt" (click)="onProgramTrigger()" [disabled]="!evaluateButtonEnabled"></button>
</ng-template>